@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 topNav">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>*@
    <header>
        <NavMenu />
    </header>
<div class="container">

    <div class="content px-4">
        @Body
    </div>
</div>

